* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
}
.header { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 2em;
  background: #fa0101; /*It's a color so you can see the borders of the menu*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
}

.navbar a {
  text-decoration: none;
  font-style: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 15px;
  transition: .3s;
  padding: 7px 15px;
  border-radius: 5px;
}

.navbar a:hover{
  color: #00f5cc;
  background-color: #a13939;
}

.fit {
  display: flex; 
  justify-content: center; 
  justify-items: center; 
  align-content: center; 
  align-items: center; 
  width: 100%; 
  max-width: 80em;
}