* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  max-width: 1703px;
  margin: 0px auto;
}

.fit {
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 110em;
  margin: auto;
}



.header { 
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  margin: 20px;
}

.logo {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
}

.navbar{
  margin: auto;
  position: absolute;
}

.navbar a {
  text-decoration: none;
  font-style: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 15px;
  transition: .3s;
  padding: 7px 15px;
  border-radius: 5px;
}

.navbar a:hover{
  color: #00f5cc;
  background-color: #a13939;
}

.icon{
  margin-left: auto;
}

.dark_img{
  width: 24px;
  height: 24px;
}