* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0px 100px;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
}

.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 100px;
}

.main {
  margin-top: 80px;
}

.header { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0%;
  background: #fa0101; /*It's a color so you can see the borders of the menu*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
}

.navbar{
  margin: auto;
  position: absolute;
}

.navbar a {
  text-decoration: none;
  font-style: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 15px;
  transition: .3s;
  padding: 7px 15px;
  border-radius: 5px;
}

.navbar a:hover{
  color: #00f5cc;
  background-color: #a13939;
}

.icon{
  margin-left: auto;
}